<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <a
    class="navbar-brand"
    routerLinkActive="active btn btn-active"
    routerLink="/"
    >Routers-Home
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          routerLinkActive="active btn btn-active"
          routerLink="users"
          text="users"
        >
          Users
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active btn btn-active"
          routerLink="posts"
        >
          Posts
        </a>
      </li>
    </ul>
  </div>
</nav>
